*
{
padding:0px;
margin:0px;
}

body
{
	
	
}
.header
{
	background-color:#415e9b;
	height:82px;
	border-bottom:1px solid #133783;
	
}
.right
{
	font-weight:bold;
	font-size:30px;
	padding-top:30px;
	color:white;
	padding-left:30px;
	float:left;

}
.left{
	position:relative;
	float:right;
	color:white;
margin-top:12px;
}
.eu
{
	position:relative;
	float:right;
	right:89px;
  top:-300px;
}
.f1
{
	
	border-radius:10px;
	border:1px solid black;
	padding:0px;
	height:40px;
	width:200px;
	margin:10px;

}
.f2
{
	
	border-radius:10px;
	border:1px solid black;
	padding:0px;
	height:40px;
	width:250px;
	margin:5px;
}
	
	.f3
{
	
	border-radius:10px;
	border:1px solid black;
	padding:0px;
	height:40px;
	width:300px;
	margin:10px;
	margin:5px;
}
	
	.f4
{
	
	border-radius:10px;
	border:1px solid black;
	padding:0px;
	height:40px;
	width:350px;
	margin:5px;
}
	
		.f5
{
	
	border-radius:10px;
	border:1px solid black;
	padding:0px;
	height:40px;
	width:400px;
	margin:5px;
}
select
{
	height:35px;
	display:inline;
	float:left;
	
}
.ac1
{
width:190px;
height:30px;
font-weight:0px;
background:#498838;
border-radius:5px;

}

	
	

	